header h1 {display:table-cell; vertical-align:middle}

section {
  margin-top: 150px;
}

.parallax-container {
   height: 300px;
   text-align: center;
   display: table;
   width: 100%;
 }

 .skills {
   text-align: center;
 }
.coding-tag {
  font-size: 14px;
  /*color: blue;*/
  text-decoration: underline;
}
.dev-icons {
  height: 50px;
  width: 50px;
}
