header h1 {display:table-cell; vertical-align:middle}

.parallax-container {
   height: 300px;
   text-align: center;
   display: table;
   width: 100%;
 }

.skills {
  text-align: center;
}
.coding-tag {
  font-size: 14px;
  /*color: blue;*/
  text-decoration: underline;
}
.dev-icons {
  height: 50px;
  width: 50px;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 999;
  opacity: 0;
}

.card-content {
  /**/change
  background: #F6FFF8;
}

.activator:hover {
  cursor: pointer;
}

footer, nav {
  opacity: .8;
}

section {
  margin-top: 139px;
}
